body {
  font-family: Arial, sans-serif;
  background-color: #121212;

  text-align: left;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

}

header {
  position: relative;

}


.about-link {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #4db8ff;

  text-decoration: none;
  font-size: 16px;
}
.about-link:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2em;
  color: white;
}

#last-updated {
  color: #ccc;
  font-size: 0.9em;
}


th, td {
  border-bottom: 0px solid #444;
  padding: 10px 12px;
  text-align: center;
}

th {
  background-color: #222;
  font-weight: bold;
}

a {
  color: #4db8ff;
  
  text-decoration: none;
}
a:visited {
  color: #4db8ff;

}


.play-link {
  color: #4db8ff;

  font-size: 1.1em;
  text-decoration: none;
}
.play-link:hover {
  text-decoration: underline;
}


a.link {
    color: #0af;

    
    
    margin: 15px 0; 
    
    width: auto;
    
    text-decoration: none;
    
    
}



a.link:hover { text-decoration: underline; }


.link-wrapper {
    
    display: flex; 
    
    justify-content: flex-end; 
    
    gap: 15px; 
}




a.back-link {
  color: #0af;
  
  display: block; 
  
  width: fit-content; 
  
  margin: 15px 0 15px 0px; 
  text-decoration: none;
  


}
a.back-link:hover { text-decoration: underline; }





















